@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}
th {
    background-color: rgb(87, 85, 85);
    color: white;
}

.th-secundario {
    background-color: white;
}

.primeira-media > td, .segunda-media >td {
    background-color: rgb(87, 85, 85);
    color: white;
}